# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# Python build artifacts
*.egg-info/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# Video files
*.avi
*.mp4
*.mkv

src/fpv_vision/tranning.py